@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url("/bg_gran_small.webp");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a5230;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
  /* color: rgb(34, 36, 33); */
  color: rgb(255, 255, 255);
}

input {
  color: #171717;
}

@media (min-width: 1024px) {
  :root {
    --background-image: url("/bg_gran_medium.webp");
  }
}

@media (min-width: 1920px) {
  :root {
    --background-image: url("/bg_gran.webp");
  }
}
