@import "tailwindcss";

@theme {
  --color-pinegren: rgb(42, 54, 42);
  --color-darkpinegren: rgb(34, 36, 33);
  --color-lightpinegren: rgb(131, 174, 131);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url("/bg_gran.webp");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a5230;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
  /* color: rgb(34, 36, 33); */
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff;
}

button {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

input {
  color: #171717;
  background-color: azure;
}

@media (min-width: 1920px) {
  :root {
    --background-image: url("/bg_gran_large.webp");
  }
}
